.wrapper__header {
  box-shadow: 0 3px 6px var(--shadow-color);
  color: var(--text-color);
}
.navbar {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 800;
    text-shadow: 0 1px 3px var(--shadow-color);
    span {
      color: var(--text-color);
    }
  }
  .nav-links {
  }
  .nav-link {
    color: var(--text-light);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20px;
  }
  .active {
    color: var(--primary-color);
    font-weight: 600;
  }
}

.sidebar-btn {
  height: 32px;
  width: 35px;
  // background-color: red;
  position: relative;
  display: none;
  .bar {
    border-radius: 5px;
    height: 6px;
    width: 100%;
    background-color: var(--text-color);
    position: absolute;
    transition: 0.2s;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 0;
      bottom: 0;
      width: 80%;
      right: 0;
      margin: auto 0;
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  &.active {
    .bar {
      top: 0;
      bottom: 0;
      margin: auto;
      height: 7px;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}
@import "./animation.scss";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background: var(--background-light);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2), 3px 0 5px var(--shadow-color);
  animation: 0.5s slideInLeft;
}
