:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0a0a0a;
  --text-light: rgb(151, 151, 151);
  --font-size: 16px;
  --animation-speed: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 15px;
}
.main {
  margin-top: 15px;
}
.btn {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 1px 3px var(--shadow-color);
}
.section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .col {
    width: 50%;
  }
  .title {
    color: var(--text-color);
    font-size: 68px;
    margin-bottom: 5px;
  }
  .info {
    color: var(--text-light);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
}
.option-container {
  margin-bottom: 30px;
  .active {
    background: var(--primary-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .option {
    border: 1px solid #0a0a0a;
    height: 60px;
    display: flex;
    align-items: center;
    border-left: 5px solid var(--primary-color);
  }
  .check {
  }
  .option-btn {
    height: 50px;
    width: 50px;
    box-shadow: 2px 2px 4px var(--shadow-color);
    margin-left: 15px;
    border-radius: 5px;
    padding: 10px;
  }
  .light {
    background: #fff;
  }
  .dark {
    background: #000;
  }
  .light {
  }
  // }
  .btn {
    font-size: 16px;
    padding: 8px;
    margin-left: 15px;
  }
}

@import "./navbar";
@import "./heroSection";
@import "./improve-section";
@import "./quoteSecion";
@import "./chiefs";
@import "./searches";
@import "./footer";
@import "./recipes-section";
@import "./mobile";
